.qr-login>p{
    font-size: 14px;
    padding-bottom: 30px;
    color: #737881;
}

.qr-login>p>span{
    font-weight: 700;
}

.guide{
    font-weight: 700;
    letter-spacing: -.6px;
    color: #737881;
    position: relative;
    padding-top: 20px;
    margin-top: 68px;
    border-top: 1px solid #e5e8eb;
    font-size: 13px;
}

.guide h3{
    font-weight: 700;
    padding-bottom: 10px;
    color: #737881;
    font-size: 14px;
}

.guide>ul>li{
    padding-top: 5px;
}

.per{
    position: absolute;
    top: 20px;
    right: 0;
    letter-spacing: -.6px;
}

.per:hover{
    color: #07f;
}

.qrlogin-button{
    padding-top: 18px;
}

.qrlogin-button button{
    width: 100%;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #17191d;
    transition: all .15s linear;
    cursor: pointer;
}

.qrlogin-button button:hover{
    outline: 0;
    background-color: #07f;
    transition: all .2s linear;
}